<a href="https://colab.research.google.com/github/ytaki0801/Samples/blob/master/GC_SQL_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import sqlite3
c = sqlite3.connect('sample.db')

c.execute("drop table if exists test;")
c.execute("create table if not exists test (num1 int, num2 int, name varchar(50));")

c.execute("insert into test values (1, 2000401, 'Suzuki Ichiro');")
r = c.execute("select * from test;")
for i in r: print(i)

c.commit()
c.close()

(1, 2000401, 'Suzuki Ichiro')